.about{
	.block{
		
		h2{
			padding-top: 35px;
			margin:0;
			text-align: center;
		}
		p{
			padding-top: 20px;
			line-height:28px;
			text-align: center;
		}
		img{
			width: 100%;
		}
	}
	text-align: justify;
  	text-justify: inter-word;
  	
	.about-img {
		overflow:hidden;
		&:hover img {
			transform: scale3D(1.1,1.1,1);
		}
		img {
			opacity: .6;
			@include transition (all, 0.5s, ease-out);
		}
	}
	.section-title {
		margin-bottom: 0px;
	}
}
