.service {
  text-align: center;
  padding: 90px 0;


  .service-item {
    padding-bottom: 30px;
/* change from I to img */
    img {
      font-size: 50px;
      color: $primary-color;
    }

    h4 {
      padding-top: 15px;
      margin: 0;
      font-weight: 500;
      text-transform: uppercase;
    }

    p {
      padding-top: 10px;
      margin: 0;
    }
  }
}

.dark-service {
  .title {
    color: $light;
    font-weight: bold;
  }
  .service-item {
    padding-bottom: 10px;
    text-align: center;
    /*margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
/* change from I to img */
    img { 
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-size: 60px;
      max-width: 60%;
      color: $light;
      width: 100 px;

    }

    h4 {
      color: $light;
      font-size: 30px;
      padding-top: 15px;
      margin: 0;
      font-weight: 500;
      text-transform: uppercase;
    }

    p {
      font-size: 18px;
      padding-top: 15px;
      margin: 0;
      padding-bottom: 50px;
    }
  }
}

.service-about {
  text-align: center;
  p {
    text-align: center;
    line-height: 28px;
  }
  img{
    padding-top: 15px;
    }
}



.service-arrow {
  .block {
    padding: 70px 30px;

    i {
      font-size: 40px;
    }

    p {
      color: $light;
    }
  }
}




.service-list {
  .block {
    padding: 30px;
    margin-bottom: 20px;
    background: $light;
  }
}