$primary-font: 'Playfair Display',
serif;
$secondary-font: 'Poppins',
serif;
$light: #fff;
$primary-color:#655E7A;
$secondary-color:#2E7EED;

body {
	font-family: $primary-font;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $primary-font;
}

h2 {
	line-height: 40px;
}

p,
.btn {
	font-family: $secondary-font;
	color: #777;
	font-size: 16px;
}

// Transition
@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
	-webkit-transition: $what $time $how;
	-moz-transition: $what $time $how;
	-ms-transition: $what $time $how;
	-o-transition: $what $time $how;
	transition: $what $time $how;
}

a {
	&:hover {
		text-decoration: none;
	}
}



.section {
	padding: 100px 0;
}

.section-title {
	padding-bottom: 60px;
}


.bg-gray {
	background: #fafafa;
}

.navigation {
	background: #fff;
	padding: 20px 0;
	.navbar {
		margin-bottom: 0px;
		border: 0px;
	}

	.navbar-brand {
		padding-top: 5px;
	}

	.navbar {
		background: none;
		border: 0px;

		.navbar-nav {
			padding-top: 10px;

			>li {
				>a {
					color: #5C5C5C;
					padding: 10px 15px;

					font : {
						weight: 500;
						size: 14px;
					}

					;
					text-transform:uppercase;

					&:hover,
					&:focus {
						color: #000;
						background: transparent;
					}
				}
			}
		}

		.dropdown-menu {
			border-radius: 0;
			border: none;
			drop-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);

			a {
				font-weight: normal;
				color: #808080;
				padding: 10px 20px;
				@include transition (all, 0.3s, ease);

				&:hover {
					background: $primary-color;
					color: $light;
					padding-left: 25px;
				}
			}
		}
	}
}

.nav .open>a {
	background: transparent;
}

.landing-banner {
	padding: 150px 0 0 0;
	text-align: center;

	h1 {
		font-size: 45px;
		margin-bottom: 30px;
	}
}

.component-viewer {
	.component-images {
		display: flex;
		-webkit-justify-content: center;
		justify-content: center;

		img {
			width: 100%;
		}
	}
}

.demos {
	.block {
		margin-bottom: 40px;

		img {
			width: 100%;
			box-shadow: 0 8px 25px 0 rgba(0, 0, 0, .11);
			-webkit-border-radius: 8px;
			border-radius: 8px;
			margin-bottom: 20px;

		}

		.content {
			text-align: center;

			h4 {
				color: #000;
				margin-top: 0;
			}

			p {
				font-size: 14px;
			}
		}

	}
}

.elements {
	.feature-item {
		-webkit-border-radius: 6px;
		border-radius: 6px;
		box-shadow: 0 8px 25px 0 rgba(0, 0, 0, .11);
		padding: 20px 10px;
		text-align: center;
		margin-bottom: 20px;

		i {
			display: flex;
			-webkit-justify-content: center;
			justify-content: center;
			padding-bottom: 10px;
			font-size: 30px;
		}

		h4 {
			font-size: 20px;
			color: #000;
		}

		p {
			font-size: 14px;
			color: #808080;
		}

	}
}

.call-to-action-landing {
	background-color: #1A1B1F;

	h2 {
		color: $light;
		margin-bottom: 30px;

	}

	.btn {
		padding: 24px 80px;
		-webkit-border-radius: 100px;
		border-radius: 100px;
		text-transform: uppercase;
	}

	.btn-blue {
		color: $light;
		background: $primary-color;
	}

	.btn-gray {
		background: $secondary-color;
		color: $light;
	}
}